body {
    padding-top: 20px;
    background-color: #0f0f0f;
}

.song-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #2b2b2b;
}

.song-item img {
    width: 120px;
    height: 90px;
    margin-right: 10px;
}

.song-controls {
    display: grid;
    margin-left: auto;
}

.list-group {
    height: 500px;
}

.now-playing-title {
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
    text-align: center;
}
/* แอนิเมชันสำหรับลบ */
.fade-out {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


/* แอนิเมชันสำหรับย้ายคิว */
.move-up {
    transform: translateY(-50px); /* ปรับตามขนาดของแต่ละคิว */
    transition: transform 0.3s ease;
}

.move-down {
    transform: translateY(50px);
    transition: transform 0.3s ease;
}
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* ระยะเวลาแอนิเมชัน 0.5 วินาที */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.modal-content {
    border: 1px solid #444;
}

.modal-header {
    border-bottom: 1px solid #444;
}

.modal-footer {
    border-top: 1px solid #444;
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.text-muted {
    color: #6c757d !important;
}


#clearQueueBtn {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    transition: all 0.3s ease;
}

#clearQueueBtn:hover {
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.play-button {
    padding: 0 5px;
    margin-right: 8px;
    font-size: 1.2em;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.play-button:hover {
    transform: scale(1.2);
    color: #1db954;
}